<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>School of Engineering</title>

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!--photo gallery-->
  	<div class="container">
  		<div class="row">
  			<div class="col-lg-12">
  				<center><font style="font-size: 40px;"><strong>School of Engineering</strong></font></center>
  			</div>
  			<!--image is shown in thumbnail-->
  			<div class="col-lg-4 col-md-6 col-sm-12 view hm-zoom">
  				<a href="civil" class="thumbnail"><img src="/images/civil.jpg"/></a>
  				<div class="mask flex-center">
  					<p>Civil Engineering</p>
  				</div>	
  			</div>

  			<div class="col-lg-4 col-md-6 col-sm-12">
  				<a href="computer" class="thumbnail"><img src="/images/computer.jpg"/></a>
  				<p>Computer Engineering</p>	
  			</div>

  			<div class="col-lg-4 col-md-6 col-sm-12">
  				<a href="/mechanical/" class="thumbnail"><img src="/images/mechanical.jpg"/></a>
  				<p>Mechanical Engineering</p>	
  			</div>
  			<div class="col-lg-4 col-md-6 col-sm-12">
  				<a href="/electrical/" class="thumbnail"><img src="/images/electrical.jpg"/></a>
  				<p>Electrical Engineering</p>	
  			</div>

  			<div class="col-lg-4 col-md-6 col-sm-12">
  				<a href="/geomatics/" class="thumbnail"><img src="/images/geomatics.jpg"/></a>
  				<p>Geomatics Engineering</p>	
  			</div>

  			<div class="col-lg-4 col-md-6 col-sm-12">
  				<a href="/chemical/" class="thumbnail"><img src="/images/chemical.jpg"/></a>
  				<p>Chemical Engineering</p>	
  			</div>
  			
  		</div>
  	</div>

  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javacripts/bootstrap.min.js"></script>
    <script src="/javascripts/pop.js"></script> 

  </body>
</html>