<!DOCTYPE html>
<html>
	<head>
	 	<title>test</title>
	</head>

<body>
	<form action="filesave" method="POST" enctype="multipart/form-data">
	 <input type="file" name="myimage" ></input>
	 <input type="text" name="courseCode" placeholder="Course code"></input>
	 <input type="text" name="courseName" placeholder="Course name"></input>
	 <input type="number" name="year" value="Year"></input>
	 <input type="number" name="semester" value="Semester"></input>
	 <input type="text" name="department" placeholder="Department"></input>
	 <br/>S-Syllabus L-lecture B-book A-assignment
	 <input type="text" name="uploadtype" ></input>



	<input type="submit" name="submit" value="submit"></input>
	</form>
<!-- 	
	<a href= "/images/">All</a>
	<a href= "/syllabus/">Syllabus</a>
	<a href= "/lectures/">Lecture Notes</a>
	<a href= "/books/">Books</a>
	<a href= "/assignments/">Assignments</a>
	<a href= "/chatbot/">Chatbot</a>
	<br/>
	<form action="searchcode" method="POST">
	<strong>Search</strong>
	<input type="text" name="courseCode" value="Search by course code" />
	</form> -->

</body>

</html>